.contents {
  padding: 15px;
  border-top: 3px solid $ega-skyblue;
  background-color: $ega-blue;
  .content__first {
    height: 300px;
    &__title {
      margin-left: 40px;
      height: 50px;
      font-size: 25px;
      line-height: 50px;
      color: $ega-font;
      .search{
        margin-top: 150px;
      }
    }
    &__body {
      height: 250px;
      background-color: $ega-rightblue;
      display: flex;
      padding: 0 100px;

      &__content{
        display: flex;
        img{
          object-fit: cover;
        }
        .image{
          margin-right: 20px;
        }
      }
    }
  }
  .content__second {
    height: 300px;
    &__title {
      margin-left: 40px;
      height: 50px;
      font-size: 25px;
      line-height: 50px;
      color: $ega-font;
    }
    &__body {
      height: 250px;
      background-color: $ega-rightblue;
    }
  }
  .content__third {
    height: 300px;
    &__title {
      margin-left: 40px;
      height: 50px;
      font-size: 25px;
      line-height: 50px;
      color: $ega-font;
    }
    &__body {
      height: 250px;
      background-color: $ega-rightblue;
    }
  }
  .content__fourth {
    height: 300px;
    &__title {
      margin-left: 40px;
      height: 50px;
      font-size: 25px;
      line-height: 50px;
      color: white;

      .choose_genre{
        display: inline-block;
        float: left;
      }

      &__genre{
        display: inline-block;
        float: left;
      }
      color: $ega-font;
    }
    &__body {
      height: 250px;
      background-color: $ega-rightblue;
      padding: 0 100px;
      display: flex;

      .image{
        margin-right: 20px;
      }
    }
  }
}