.footer {
  height: 150px;
  background-color: $ega-rightblue;
  border-top: solid 2px $ega-skyblue;
  &__top {
    height: 50px;
    text-align: center;
    color: white;
    .scroll-top-btn {
      color: $ega-font;
      font-size: 15px;
      line-height: 50px;
      p {
        display: inline;
        cursor: pointer;
      }
    }
  }
  &__logo {
    height: 200px;
    background-color: $ega-blue;
    text-align: center;
    img {
      height: 200px;
    }
  }
}
