.header {
  background-color: $ega-rightblue;
  border-bottom: 2px solid $ega-skyblue;
  // headerの上側部分 //
  &__top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: $ega-blue;
    padding: 15px;
    &__left-box {
      display: flex;
      .logo {
        margin-left: 15px;
        width: 200px;
      }
    }
    &__search-box {
      width: calc(100% - 400px);
      height: 50px;
      form{
        width: 100%;
        height: 100%;
        display: flex;
        .search-input{
          width: 85%;
          padding-left: 10px;
        }
        input.search-btn{
          height: 100%;
          width: 15%;
          border: none;
        }
      }
    }
    &__search-btn {
      height: 50px;
      width: 50px;
      float: right;
      .fa-search {
        margin-left: 10px;
        font-size: 25px;
        line-height: 50px;
        cursor: pointer;
        color: white;
      }
    }
    &__right-box {
      display: flex;
      width: 120px;
      height: 50px;
      .sign-up-btn{
        color: $ega-font;
        font-weight: 100;
        font-size: 24px;
        letter-spacing: 2px;
        text-decoration: none;
        line-height: 50px;
      }
    }
  }
}
  // headerの下側部分 //
.header__bottom {
  height: 50px;
  background-color: $ega-rightblue;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 3px solid $ega-skyblue;
  &__left-box {
    ul {
      display: flex;
      li {
        width: 150px;
        text-align: center;
        line-height: 50px;
        position: relative;
        a {
          text-decoration: none;
          color: $ega-font;
        }
      }
      #genre {
        width: 200px;
        height: 50px;
        ul.dropdown_menu{
          display: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          .dropdown_menu{
            display: block;
            text-align: center;
            a{
              display: block;
              width: 200px;
              border-bottom: 1px solid;
              &:hover{
                background-color: $ega-rightblue;
              }
            }
          }
        }
      }
    }
  }
  &__right-box {
    ul {
      display: flex;
      li {
        width: 150px;
        text-align: center;
        line-height: 50px;
        a {
          text-decoration: none;
          color: $ega-font;
        }
      }
    }
  }
}