.header {
  background-color: $ega-rightblue;
  border-bottom: 3px solid $ega-skyblue;
  // headerの上側部分 //
  &__top {
    display: flex;
    justify-content: space-between;
    height: 80px;
    background-color: $ega-blue;
    padding: 15px;
    &__left-box {
      display: flex;
      .pulldown-btn {
        width: 50px;
        height: 50px;
        font-size: 50px;
        cursor: pointer;
        color: white;
      }
      .logo {
        margin-left: 15px;
        width: 100px;
        height: 50px;
        background-color: $ega-skyblue;
      }
    }
    &__search-box {
      width: 900px;
      height: 50px;
      background-color: $ega-skyblue;
    }
    &__right-box {
      display: flex;
      width: 150px;
      height: 50px;
      background-color: $ega-skyblue;
      .user-image {
      }
      .user-nickname {
      }
    }
  }
}
  // headerの下側部分 //
.header__bottom {
  height: 50px;
  background-color: $ega-rightblue;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0;
  border-bottom: 3px solid $ega-skyblue;
  &__left-box {
    ul {
      display: flex;
      li {
        margin-left: 40px;
        line-height: 50px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  &__right-box {
    ul {
      display: flex;
      li {
        margin-right: 40px;
        line-height: 50px;
        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}