.contents
  .content__first
    .content__first__title
      %p 新着投稿
    .content__first__body
      .content__first__body__content
        - @movies.first(4).each do |movie|
          = image_tag movie.image.url, width: "300px", hight: "250px", class: "image"
  .content__second
    .content__second__title
      %p あなたへのオススメ
    .content__second__body
  .content__third
    .content__third__title
      %p 評価☆5の作品
    .content__third__body
  .content__fourth
    .content__fourth__title
      %p あなたの好きなジャンル : ホラー
    .content__fourth__body