.header
  .header__top
    .header__top__left-box
      .pulldown-btn
      .logo
    .header__top__search-box
    .header__top__right-box
      .user-image
      .user-nickname
  .header__bottom
    .header__bottom__left-box
      %ul
        %li ホーム
        %li ジャンル
        %li お気に入り
    .header__bottom__right-box
      %ul
        %li 設定
        %li ヘルプ