=render "header"


.first
  .first__content
    .first__content__wrapper
      .first__content__wrapper-logo
      .first__content__wrapper-heads
        e-gaなら数多く映画作品のレビューを
        %br
        いつでもどこでも書けます。
      .first__content__wrapper-btn
        =link_to "e-gaはこちら", root_path
.second
  .second__content
    .second__content__text
      .second__content__text-head
        ユーザー特典
      .second__content__text-main
        ここにテキストが入ります。
      .second__content__text-btn
        =link_to "e-gaはこちら", root_path
.third
  .third__content
    .third__content__text
      .third__content__text-head
        どこでもレビュー
      .third__content__text-main
        %p
          e-gaはインターネットに繋がっていればいつでもどこでもレビューできます。
        %br
          カテゴリー別で分類しているのであなたの好きなカテゴリーで探してレビューを見ることもできます。
        %br
          =link_to "e-gaでレビューできる作品を探す", "#"
      .third__content__text-btn
        =link_to "e-gaはこちら", root_path
    .third__content__image
      