=render "header"


.first
  .first__content
    .first__content__wrapper
      .first__content__wrapper-logo
        = image_tag 'e-ga_180_50_2.svg', alt: 'プロフィール', height: '50', width: '180', class: "logo_image"
      .first__content__wrapper-heads
        E-gaなら数多く映画作品のレビューを
        %br
        いつでもどこでも書けます。
      .first__content__wrapper-btn
        =link_to "E-gaはこちら", root_path
.second
  .second__content
    .second__content__text
      .second__content__text-head
        E-ga のメンバーにしかできないこと
      .second__content__text-main
        メンバー登録していただくと映画にレビューができるようになります。
        %br
        レビューをしてあなたの意見を伝えてみよう！
      .second__content__text-btn
        =link_to "E-gaはこちら", root_path
.third
  .third__content
    .third__content__text
      .third__content__text-head
        どこでもレビュー
      .third__content__text-main
        %p
          E-gaはインターネットに繋がっていればいつでもどこでもレビューできます。
        %br
          カテゴリー別で分類しているのであなたの好きなカテゴリーで探してレビューを見ることもできます。
        %br
          =link_to "E-gaでレビューできる作品を探す", "#"
      .third__content__text-btn
        =link_to "E-gaはこちら", root_path
    .third__content__image
      