.wrapper{
  display: block;
  box-sizing: border-box;

  .container{
    width: 100vw;
    height: 100vh;
    background-color: #2057B3;

    &__box{
      width: 600px;
      margin: 0 auto;
      background-color: #fff;
      padding-top: 50px;
    }
  }
}