

$ega-brown: #B3801B;

$ega-rightbrown: #FFBF3F;

$ega-yellow: #D0FF54;

$ega-blue: rgb(216, 212, 212);

$ega-rightblue: rgb(231, 228, 228);

$ega-skyblue: rgb(172, 154, 154);

$ega-red: #B32C17;

$ega-orange: #FF543A;

$ega-font: rgb(119, 116, 116);